<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
</head>
<body>
  <div>
    <h1>Login</h1>
    <form action="/signin" method="POST">
        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="password" placeholder="Senha">
        <button type="submit">
            Entrar
        </button>

        <a href="/register">Cadastrar</a>
    </form>
  </div>
</body>
</html>